body {
    background-color: #0A0A0A;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}

#home-login-btn {
    background-color: azure;
    color: #0A0A0A;
    border-radius: 100%;
}