body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #333;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */
header {
    width: 100%;
    height: 75px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo img { 
    width: 240px; /* 140px standard value */
    padding: 0;
    margin: 0;
}

header .links {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .links a {
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    margin: 0 15px;
}

header .links a:hover {
    border-bottom: 0.5mm solid whitesmoke;
}

header .links a.html:hover {
    border-color: #e34c26;
}

header .links a.css:hover {
    border-color: #264de4;
}

header .links a.js:hover {
    border-color: #f0db4f;
}
/* HEADER END */

/* FOOTER STYLES */
footer {
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 20px;
    box-sizing: border-box;
    bottom: 0;
}

footer img {
    height: 100px;
    margin-right: 30px;
}

footer .footer-left {
    display: flex;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    margin: 0 10px;
}

footer a:hover {
    border-bottom: 0.5mm solid whitesmoke;
}

footer a.logo:hover {
    border: none;
}

footer .github {
    margin: 0;
}
/* FOOTER END*/

/* HERO STYLES */
.container.hero {
    widtH: 100%;
    height: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
}

.container.hero .title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0; /* default 40px, also tried 20px */
}

.container.hero .caption {
    font-size: 16px;
    margin-bottom: 40px;
}

.container.hero .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.hero .links a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    border: 0.5mm solid whitesmoke;
    border-radius: 25px;
    padding: 7px 20px;
    transition: scale 0.2s;
}

.container.hero .links .primary {
    background-color: #007acc;
    color: whitesmoke;
    border-color: #007acc;
    border-radius: 25px;
    margin-right: 20px;
}

.container.hero .links .primary:hover {
    background-color: #005F99;
    border-color: #005F99;
    transform: scale(1.02);
}

.container.hero .links .secondary:hover {
    background-color: whitesmoke;
    color: #333;
    transform: scale(1.03);
}
/* HERO END */

/* INTRO STYLES */
.container.intro {
    width: 100%;
    min-height: 90%;
    display: grid;
    place-items: center;
}

.container.intro .box {
    width: 80%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5mm;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container.intro .box .box-left, 
.container.intro .box .box-right {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    place-items: center;
}

.container.intro .box .box-left img {
    width: 300px;
    border-radius: 5mm;
}

.container.intro .box .box-right .title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}

.container.intro .box .box-right .caption {
    width: 100%;
}
/* INTRO END */

/* CODE BLOCK STYLES */
.container.code {
    font-family: 'Courier New', Courier, monospace;
    max-width: 2000px;
    margin: auto;
    padding: 15px 10px;
}

.container.code span {
    display: inline-block;
    background: #444;
    border-left: 5px solid #007acc;
    padding: 10px 15px;
    margin: auto; /* default: 20px 0 */
    line-height: 1.6;
}
/* CODE BLOCK END */

.space {
    height: 100%;
    margin: 10% 0;
}

/* MEDIA STYLES IF SCREEN IS TOO SMALL (-> VIDEO: https://www.youtube.com/watch?v=euG1_R2o_Bg) */
@media only screen and (max-width: 1000px) {
    .container.hero .title {
        font-size: 5vw;
    }

    .container.hero .caption {
        font-size: 1.6vw;
    }

    .container.hero .links a {
        font-size: 1.6vw;
        padding: 0.7vw 1.85vw;
    }

    header .links a {
        margin: 0 0.4vw;
    }
}

@media only screen and (max-width: 700px) {
    .container.hero .title {
        font-size: 30px;
    }

    .container.hero .caption {
        font-size: 16px;
    }

    .container.hero .links a {
        font-size: 14px;
        padding: 7px 20px;
    }

    header .links a.html,
    header .links a.css,
    header .links a.js {
        display: none;
    }

    .container.intro .box .box-left img {
        width: 200px;
    }

    .container.intro .box .box-right .title {
        font-size: 30px;
    }

    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 740px) {
    footer .footer-left a.html,
    footer .footer-left a.css,
    footer .footer-left a.js {
        display: none
    }
}
/* MEDIA STYLES END */